body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    margin: 0;
    padding: 25px;
    font-size: 2.6rem;
}

html {
    font-size: 62.5%;
}

.container {
    width: 70%;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto; 
}

.text {
    padding: 2.5rem;
    text-align: justify;
}

.text h1 {
    color: #000;
    font-size: 4rem;
    text-align: center;
}

.cabecera {
    background-color: #88f;
    color: turquoise;
    text-align: left;
    font-weight: bold;
    margin: 0;
    padding: .5rem 2rem;   
}

.cabecera span {
    font-size: 2.3rem;
    margin-left: 65px;
    font-weight: lighter;
    color: #ccc;
}
